// ----------------------------------------------
// Layout Style
// ----------------------------------------------

.page-wrapper {
  position: relative;
  background-color: $gray-200;
}

.body-wrapper {
  position: relative;

  .body-wrapper-inner{
    min-height: 100vh;
  }

  .container-fluid {
    max-width: $boxed-width;
    margin: 0 auto;
    padding: $grid-gutter-width;
    transition: 0.2s ease-in;
    padding-top: calc(#{$header-height} + 48px);
  }
}

@include media-breakpoint-down(md) {
  .body-wrapper {
    >.container-fluid {
      padding: 30px 20px;
    }
  }
}

.simplebar-scrollbar:before {
  background: rgba(0, 0, 0, 0.5) !important;
}

#main-wrapper[data-layout="vertical"] {

  // Sidebar position
  &[data-sidebar-position="fixed"] {
    .left-sidebar {
      position: fixed;
      top: 0;
      height: 100vh;
    }
  }

  // Header position
  &[data-header-position="fixed"] {

    .body-wrapper {
      .container-fluid {
        padding-top: calc(#{$header-height} + 48px);
      }
    }
  }
}

@include media-breakpoint-up(xl) {
  #main-wrapper[data-layout="vertical"] {

    // Fixed Header + Minisidebar
    &[data-header-position="fixed"][data-sidebartype="mini-sidebar"] {
      .app-header {
        position: fixed;
        top: 24px;
        right: 24px;
        left: 24px;
        width: auto;
        z-index: 20;
      }
    }

    // Header position
    &[data-header-position="fixed"] {
      .app-header {
        position: fixed;
        top: 24px;
        right: 24px;
        left: 24px;
        width: auto;
        z-index: 20;
      }
    }

    // Full Sidebar
    &[data-sidebartype="full"] {
      &[data-header-position="fixed"] {
        .app-header {
          left: calc(#{$sidebar-width-full} + 24px);
        }
      }

      &[data-sidebar-position="fixed"] {
        .left-sidebar {
          left: 0;
        }
      }

      .body-wrapper {
        margin-left: $sidebar-width-full;
      }
    }

  }
}

//
// Responsive view (below desktop view)
//
@media (max-width: 1199px) {
  #main-wrapper[data-layout="vertical"] {

    &[data-sidebartype="mini-sidebar"],
    &[data-sidebartype="full"] {
      .left-sidebar {
        left: -$sidebar-width-full;
        top: 0;
        z-index: 12;
      }

      &.show-sidebar {
        .left-sidebar {
          left: 0;
          box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15);
        }
      }
    }

  }

  #main-wrapper[data-layout="vertical"][data-header-position="fixed"] {
    .app-header {
      position: fixed;
      top: 16px;
      left: 16px;
      right: 16px;
      width: auto;
      z-index: 20;
    }

    .body-wrapper {
      .container-fluid {
        padding-top: calc(#{$header-height} + 36px);
      }
    }
  }

  #main-wrapper[data-layout="vertical"][data-sidebar-position="fixed"] {
    .left-sidebar {
      z-index: 30;
    }
  }

  .left-sidebar {
    .scroll-sidebar {
      padding: $sidebar-spacing-x;
      height: calc(100vh - 80px);
    }
  }
}
